<div>
    <a  href="https://www.instagram.com/ealva180/" target="_blank"><img src="../../../assets/socialinst.png" id="instagram"></a>
    <a  href="https://www.facebook.com/esther.alva.96/" target="_blank"><img src="../../../assets/socialface.png" id="facebook"></a>
    <a   href="https://www.linkedin.com/in/esther-alva-8620a1130/" target="_blank"><img src="../../../assets/sociallink.png" id="linckedin"></a>
    <a   href="" target="_blank"><img src="../../../assets/socialgit.png" id="github" ></a>
</div>

