<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class=" col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>El Mundo de Titi</h1>
            <p>El mundo de Titi, nos especializamos en la fabricación y venta de productos Amigurumi, trabajamos para crecer nuestro negocio con la misma honestidad e integridad que usamos para crear nuestros productos, pensando en sustenibilidad y un buen producto para todos.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/titi1.png" class="img-fluid img-proyecto">
        </div>

    </div>
</div>
